
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Bold.ttf);
  
}
html {
  scroll-behavior: smooth;
}
body{
    background-image: url("Img/Black-Abstract-Wallpapers-HD-Download.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 0.5em;
    min-height: 100vh;
    width: 100vw;
    color: whitesmoke;
    
}

header{
  width: 95%;
  height: 4rem;    
}
main {
  margin: 2rem;
  display: grid;
}

#page {
  padding: 2em 2em;
  margin: auto;
  overflow: visible;  
  }

#nav{
  background: inherit;
  text-transform: uppercase;  
  display: grid;
  grid-template-columns: 15% 25% 25% 25% 5%;
  grid-auto-flow: row;
  justify-content: space-around;  
  padding-bottom: 3em;
  font-size: 1.2em;
  }

a {
  color:burlywood;
  text-decoration: none;  
  }

a:hover{
  color: gray;
  text-decoration: underline;
}
  
.text {
  text-size-adjust: 30%;
  font-family: sans-serif;
  padding: 0em 3em 0em 1em;
  text-align: justify;
   }

  h1{
    text-size-adjust: 50%;
    font-size: 1.4rem;
    font-family: sans-serif;
     text-align: center;
  }
  h2{
    text-size-adjust: 40%;
    font-size: 1.2rem;
    font-family: sans-serif;
    text-align: center;
    font-weight: normal;
    padding-top: 3em;
    display:inline-flexbox;
   
  }
  h3{
      text-size-adjust: 30%;
      font-size: 1rem;
      font-family: sans-serif;       
    }
  p {
    font-size: 0.9rem;
      font-family: sans-serif; 
  }

.card {
  padding: 20px;
  margin: auto;
  width: 100%;
  display: flex;
  background: inherit;
}

.card2 {
  background: inherit;
  padding: 0em 1em 0em 1em;
  width: 85vw;
  text-align: justify;
  box-sizing: inherit;
  word-wrap: normal;
  align-content: center;
  margin: inherit;

}

img{
  width: 100%;
  height: 100vh;
  border-radius: 3em;
  box-shadow: 10px 10px 10px 10px lightskyblue;
}

hr{
  margin: 5em 0em 0em 0em;
  padding-top: 5em 0em 0em 0em;
}

figcaption{
  padding: 2em;
  color: whitesmoke;
  text-align: center;
}
button {
    padding: 20px 20px 20px 20px ;    
    font-size: medium;
    margin: 10em 8em 3em 8em;
    cursor: pointer;
    background:inherit;
    border-radius: 3em;
    border: burlywood 1px solid;    
    font-weight: bold;
    word-spacing: 1em;    
    }

  .button:hover {
    background-color: burlywood;
    color: black;

    }

footer {
  padding-top: 1em;
  width: 90%;   
  padding-top: 1em;
  font-size: 0.9em; 
  align-items:flex-end;
}

/* For skjermer som er større enn 600px */
@media only screen
and (min-width: 600px){
    html {
        font-size: 1.7rem;
    }
    main {
      margin: 1rem;
    }
}


/* For skjermer som er større enn 960px */
@media only screen and (min-width: 960px){
    html {
        font-size: 2rem;
    }   
    main {
      margin: 2rem;
    }
}
